.table {
  border-collapse: collapse;
  background-color: #fff;
  &_cell {
    border: 2px solid #ff6a00;
    padding: 10px 60px;

  }
}

.show-done{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  font-size: 20px;
  color: #ffffff;
}
